<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<li id="user-view">
    <div class="user-view">
        <div class="background cyan darken-3">
        </div>
        <div class="valign-wrapper">
            <img src="../static/img/anonymous-user-svg.svg" alt=""
                 th:src="${account.pictureUrl}" class="responsive-image circle">
            <span class="white-text name ml-10px"
                  th:text="${account.userName}">Username
                </span>
        </div>
        <div class="email white-text">
                                <span th:text="${stat!=null}?'Success rate: '
                                +${stat.getSuccessRate()}+'%':'Success rate:'">Success rate:</span>
            <div class="progress white">
                <div class="determinate " style="width: 0%"
                     th:style="${stat!=null}?
                                     'width: '+${stat.getSuccessRate()}+'%'"
                     th:classappend="${stat!=null}?${stat.progressBarColorToTemplate}">
                </div>
            </div>
        </div>

    </div>
</li>
<div id="menu">
    <li th:class="${tasksSelected!=null?'active':''}"><a href="/" class="white-text"><i
            class="material-icons left white-text">playlist_add_check</i>Tasks</a></li>
    <li th:class="${adminSelected!=null?'active':''}"><a class="white-text" href="/admin/" th:if="${isAdmin}"
    ><i class="material-icons left white-text">laptop</i>Admin dashboard</a></li>
    <li th:class="${achievementsSelected!=null?'active':''}">
        <a class="white-text" href="/achievements">
            <i class="material-icons left white-text">folder_special</i>
            Achievements
            <span th:if="${newAchievements>0}"
                  th:text="${newAchievements}"
                  class="new badge green"></span>
        </a>
    </li>
    <li th:class="${settingsSelected!=null?'active':''}"><a class="white-text" href="/settings"><i
            class="material-icons left white-text">settings</i>Settings</a>
    </li>
    <li th:class="${statSelected!=null?'active':''}"><a href="/statistic" class="white-text">
        <i class="material-icons left white-text">equalizer</i>Statistic</a></li>
    <li th:class="${faqSelected!=null?'active':''}">
        <a href="/faq" class="white-text" th:if="${!isAdmin}">
            <i class="material-icons left white-text">help_outline</i>
            FAQ</a>
    </li>
    <li><a class="white-text" href="/logout"><i class="material-icons left white-text">exit_to_app</i>Logout</a>
    </li>
</div>
</body>
</html>