body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.pt-20px {
    padding-top: 20px;
}

.mt-70 {
    margin-top: 70px;
}

.mt {
    margin-top: 10vh;
}

.mt-5vh {
    margin-top: 5vh;
}

.m-5 {
    margin: 5px;
}

.m-30px {
    margin: 20px 10px;
}

.h-30vh {
    height: 30vh;
}
.rnd-c {
    border-radius: 70px;
}

.rnd-c-10 {
    border-radius: 10px;
}

.mt-5vh {
    margin-top: 5vh;
}

.mt-20px {
    margin-top: 20px;
}

.row {
    margin: 0px;
}

.pl-10px {
    padding-left: 15px;
}

.ml-20px {
    margin-left: 20px;
}

.mt-1-5vh {
    margin-top: 1.5vh;
}


h5 {
    margin-top: 2px;
}

.logo {
    margin: 5px;
    width: 8vh;
    height: 7vw;
}

.ml-9vh {
    margin-left: 7vw;
}

.ml-10px {
    margin-left: 10px;
}

.ml-2vw {
    margin-left: 2vw;
}

.subheader {
    font-weight: bold !important;
}

.bold-txt {
    font-weight: bolder;
}



.my-badge {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 70px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;

}

.my-badge-lg {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 70px;
    padding: 5px 10px;
    color: white;
    border: solid;
    border-width: 3px;
    border-color: whitesmoke;
}

.priority-badge {
    font-size: medium;
    font-weight: bold;
    border-radius: 90px;

}

.forestgreen {
    background-color: limegreen;
}

.failed-bg {
    background: white url("../img/failed.jpg") no-repeat top center;
}

.done-bg {
    background: white url("../img/done.jpg") no-repeat top center;
}

.ach-locked {
    opacity: 0.4;
}

.d-b-m {
    margin-top: 5px;
    margin-left: 20px;
}




