<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>You can do it!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/body-backgrounds.css">
    <link rel="icon" href="/img/favicon.ico" type="img/ico">

</head>
<body class="blackboard-texture-bg">
<header>
    <div th:insert="~{fragments/mobile-navbar::#mobile-navbar}"></div>
    <!--Side nav-->
    <div th:insert="~{fragments/mobile-sidenav::#mobile-demo}"></div>
</header>
<main>
    <!-- Main -->

    <div class="row">
        <div class="col m3 l4 xl3 hide-on-med-and-down">
            <div th:insert="~{fragments/main-sidenav::#main-sidenav}"></div>
        </div>
        <div class="col s12 m10 l6  offset-m1 mt-5vh">
            <ul>
                <li th:if="${accAch!=null}" th:each="object:${accAch}">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s3">
                                    <img class="responsive-image " width="100px" height="100px"
                                         th:src="${object.achievement.pictureUrl}"
                                         src="/img/rocket.jpg">
                                </div>
                                <div class="col s6">
                                    <h5 class="bold-txt" th:text="${object.achievement.title}">Title</h5>
                                    <span th:text="${object.achievement.description}">Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li th:if="${lockedAch!=null}" th:each="achievement:${lockedAch}">
                    <div class="card">
                        <div class="card-content">
                            <div class="row ach-locked">
                                <div class="col s3">
                                    <img class="responsive-image " width="100px" height="100px"
                                         th:src="${achievement.pictureUrl}"
                                         src="/img/rocket.jpg">
                                </div>
                                <div class="col s6">
                                    <h5 class="bold-txt" th:text="${achievement.title}">Title</h5>
                                    <span th:text="${achievement.description}">Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>