<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>You can do it!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/body-backgrounds.css">
    <link rel="icon" href="/img/favicon.ico" type="img/ico">
</head>
<body class="blackboard-texture-bg">
<header>
    <div th:insert="~{fragments/mobile-navbar::#mobile-navbar}"></div>
    <!--Side nav-->
    <div th:insert="~{fragments/mobile-sidenav::#mobile-demo}"></div>
</header>
<main>
    <!-- Main -->

    <div class="row">
        <div class="col m3 l4 xl3 hide-on-med-and-down">
            <div th:insert="~{fragments/main-sidenav::#main-sidenav}"></div>
        </div>
        <div class="col s12 m10 l8 xl8">
            <!--Sort and filter-->
            <div class="row">
                <div class="col s12">
                    <a class='dropdown-trigger btn mt-1-5vh col s6 m4 l3' href='#' data-target='dropdown1'>
                        <i class="material-icons right">arrow_drop_down</i>Sort by
                    </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="/sort?by=priorityValue&order=Ascending">Priority(from low to high)</a></li>
                        <li><a href="/sort?by=priorityValue&order=Descending">Priority(from high to low)</a></li>
                        <li><a href="/sort?by=deadline&order=Ascending">Date(ascending)</a></li>
                        <li><a href="/sort?by=deadline&order=Descending">Date(descending)</a></li>
                    </ul>
                    <div class="col s6 m3 l4">
                        <ul class="sidenav" id="filter-menu">
                            <form action="/filter" method="post" class="mt-5vh">
                                <ul class="collapsible expandable">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">trending_up</i>Priority
                                        </div>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in"
                                                               value="HIGH_PRIORITY"
                                                               th:checked="${priorities!=null&&#arrays.
                                                               contains(priorities,T(com.hvs.diploma.enums.TaskPriority).HIGH)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskPriority).HIGH}"
                                                               name="priority"/>
                                                        <span>High</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in"
                                                               value="MEDIUM_PRIORITY"
                                                               name="priority"
                                                               th:checked="${priorities!=null&&#arrays.
                                                               contains(priorities,T(com.hvs.diploma.enums.TaskPriority).MEDIUM)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskPriority).MEDIUM}"/>
                                                        <span>Medium</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in"
                                                               value="LOW_PRIORITY"
                                                               name="priority"
                                                               th:checked="${priorities!=null&&#arrays.
                                                               contains(priorities,T(com.hvs.diploma.enums.TaskPriority).LOW)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskPriority).LOW}"/>
                                                        <span>Low</span>
                                                    </label>
                                                </p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i
                                                class="material-icons">playlist_add_check</i>Status
                                        </div>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" value="ACTIVE"
                                                               name="status"
                                                               th:checked="${statuses!=null&&#arrays.
                                                               contains(statuses,T(com.hvs.diploma.enums.TaskStatus).ACTIVE)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskStatus).ACTIVE}"/>
                                                        <span>Active</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" value="EXPIRED"
                                                               name="status"
                                                               th:checked="${statuses!=null&&#arrays.
                                                               contains(statuses,T(com.hvs.diploma.enums.TaskStatus).EXPIRED)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskStatus).EXPIRED}"/>
                                                        <span>Expired</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" value="DONE"
                                                               name="status"
                                                               th:checked="${statuses!=null&&#arrays.
                                                               contains(statuses,T(com.hvs.diploma.enums.TaskStatus).DONE)}"
                                                               th:value="${T(com.hvs.diploma.enums.TaskStatus).DONE}"/>
                                                        <span>Done</span>
                                                    </label>
                                                </p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">date_range</i>Date
                                        </div>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" name="date"
                                                               th:value="${T(com.hvs.diploma.enums.TaskDeadlines).TODAY}"
                                                               th:checked="${deadlines!=null&&#arrays.contains(deadlines,today)}"/>

                                                        <span>Today</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" name="date"
                                                               th:value="${T(com.hvs.diploma.enums.TaskDeadlines).TOMORROW}"
                                                               th:checked="${deadlines!=null&&#arrays.contains(deadlines,tomorrow)}"/>

                                                        <span>Tomorrow</span>
                                                    </label>
                                                </p></li>
                                                <li><p>
                                                    <label class="ml-10px black-text">
                                                        <input type="checkbox" class="filled-in" name="date"
                                                               th:value="${T(com.hvs.diploma.enums.TaskDeadlines).THIS_WEEK}"
                                                               th:checked="${deadlines!=null&&#arrays.contains(deadlines,thisWeek)}"/>

                                                        <span>This week</span>
                                                    </label>
                                                </p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <div class="row">
                                        <div class="col s6 mt-5vh">
                                            <a href="/reset"
                                               class="btn waves-effect waves-light ml-10px rnd-c">Reset</a>
                                        </div>
                                        <div class="col s6 mt-5vh">
                                            <button class="btn btn waves-effect waves-light ml-10px rnd-c"
                                                    type="submit"
                                                    name="action">Done
                                            </button>
                                        </div>
                                    </div>
                                </ul>
                            </form>
                        </ul>
                        <a href="#" data-target="filter-menu" class="sidenav-trigger btn mt-1-5vh col s12 l8">
                            <i class="fas fa-filter left"></i>Filter</a>
                    </div>

                </div>
            </div>
            <!--Sort badges-->
            <div class="row pt-20px">
                <div class="col s12 m10">
                        <span class="my-badge-lg teal mt-5vh"
                              th:if="${sortBy!=null}"
                              th:text="'Sorted by : '+${sortBy}">Sorted by</span>
                    <span class="my-badge-lg teal mt-5vh"
                          th:if="${order!=null}"
                          th:text="'Order : '+${order}">Order:</span>
                </div>
                <!-- Filter param chips -->
                <div class="col s12 m-30px">
                    <div class="chip white-text red"
                         th:if="${priorities!=null&&#arrays.contains(priorities,T(com.hvs.diploma.enums.TaskPriority).HIGH)}">
                        High priority
                        <a href="/filter?criterion=priority&value=HIGH"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text orange"
                         th:if="${priorities!=null&&#arrays.contains(priorities,T(com.hvs.diploma.enums.TaskPriority).MEDIUM)}">
                        Medium priority
                        <a href="/filter?criterion=priority&value=MEDIUM"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text blue"
                         th:if="${priorities!=null&&#arrays.contains(priorities,T(com.hvs.diploma.enums.TaskPriority).LOW)}">
                        Low priority
                        <a href="/filter?criterion=priority&value=LOW"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text blue"
                         th:if="${statuses!=null&&#arrays.contains(statuses,T(com.hvs.diploma.enums.TaskStatus).ACTIVE)}">
                        Active
                        <a href="/filter?criterion=status&value=ACTIVE"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text red"
                         th:if="${statuses!=null&&#arrays.contains(statuses,T(com.hvs.diploma.enums.TaskStatus).EXPIRED)}">
                        Expired
                        <a href="/filter?criterion=status&value=EXPIRED"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text green"
                         th:if="${statuses!=null&&#arrays.contains(statuses,T(com.hvs.diploma.enums.TaskStatus).DONE)}">
                        Done
                        <a href="/filter?criterion=status&value=DONE"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text green"
                         th:if="${deadlines!=null&&#arrays.contains(deadlines,today)}">
                        Today
                        <a th:href="@{/filter(criterion='deadline',value=${today})}"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text grey"
                         th:if="${deadlines!=null&&#arrays.contains(deadlines,tomorrow)&&tomorrow!=thisWeek}">
                        Tomorrow
                        <a th:href="@{/filter(criterion='deadline',value=${tomorrow})}"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip white-text blue"
                         th:if="${deadlines!=null&&#arrays.contains(deadlines,thisWeek)}">
                        This week
                        <a th:href="@{/filter(criterion='deadline',value=${thisWeek})}"
                           class="white-text"><i class="close material-icons">close</i></a>
                    </div>
                    <div class="chip black-text white"
                         th:if="${filterParamsExists}">
                        Clear all
                        <a th:href="@{/reset}"
                           class="black-text"><i class="close material-icons">close</i></a>
                    </div>

                </div>
            </div>
            <h5 class="center white-text mt-5vh" th:if="${#lists.isEmpty(tasks)}" th:text="${message}"></h5>
            <!-- Greetings modal -->
            <div id="greetingsModal" class="modal" th:if="${greetingsMessage!=null}">
                <div class="modal-content">
                    <h4 class="center">Welcome!</h4>
                    <p th:text="${greetingsMessage}"></p>
                </div>
                <div class="modal-footer">
                    <a href="/modal-dismiss?redirectEndpoint=/settings"
                       class="modal-close waves-effect waves-green btn-flat">To Settings</a>
                    <a href="/modal-dismiss" class="modal-close waves-effect waves-green btn-flat">Got it!</a>
                </div>
            </div>
            <!--Task list-->
            <ul th:if="${not #lists.isEmpty(tasks)}" th:each="task:${tasks}">
                <div class="card horizontal rnd-c-10 col s12 m10 l8" th:classappend="${task.status.cssClass}">
                    <div class="card-stacked small">
                        <div class="card-content">
                  <span class="right white-text my-badge-lg badge-borders"
                        th:classappend="${task.priority.cssClass}"
                        th:text="${task.priority.valueToTemplate}"></span>
                            <h5 class="subheader"
                                th:text="${#dates.dayOfWeekName(task.deadline)}+', '+${#dates.format(task.deadline,'dd MMMM yyyy')}">
                                Deadline</h5>
                            <h5 th:text="${task.taskDescription}"></h5>
                        </div>
                        <div class="card-action">
                            <a href="#"
                               th:if="${task.status eq T(com.hvs.diploma.enums.TaskStatus).ACTIVE or
                               task.status eq T(com.hvs.diploma.enums.TaskStatus).RESTARTED_ACTIVE}"
                               th:href="'/mark-as-done?id='+${task.id}+'&page='+${#lists.size(tasks)>1?page:(page-1)}"
                               class="btn rnd-c waves-effect hoverable green m-5">
                                <i class="material-icons left">check</i>
                                Done</a>
                            <a th:href="@{/retry(taskId=${task.id})}"
                               th:if="${task.status eq T(com.hvs.diploma.enums.TaskStatus).EXPIRED}"
                               class="modal-trigger btn rnd-c waves-effect hoverable blue m-5">
                                <i class="material-icons left">replay</i>
                                Retry</a>
                            <a href="#"
                               th:if="${task.status eq T(com.hvs.diploma.enums.TaskStatus).ACTIVE or
                               task.status eq T(com.hvs.diploma.enums.TaskStatus).RESTARTED_ACTIVE}"
                               th:href="'/delete?id='+${task.id}+'&page='+${#lists.size(tasks)>1?page:(page-1)}"
                               class="btn rnd-c waves-effect hoverable red m-5">
                                <i class="material-icons left">delete</i>
                                Delete</a>

                        </div>
                    </div>
                </div>
            </ul>
            <!-- Pagination -->
            <ul class="pagination col s12" th:if="${pagesCount!=0&&tasksCount>5}">
                <li class="waves-effect"><a th:if="${page>0}" th:href="'/?page='+${page-1}">
                    <i class="material-icons white-text">chevron_left</i>
                </a></li>
                <li class="waves-effect" th:classappend="${i==page+1?'active teal':''}"
                    th:each="i:${#numbers.sequence(1,pagesCount)}">

                    <a class="white-text" th:text="${i}" th:href="@{/(page=${i-1})}"></a>
                </li>
                <li class="waves-effect">

                    <a th:if="${page!=(pagesCount-1)}" th:href="'/?page='+${page+1}"><i
                            class="material-icons white-text">chevron_right</i></a></li>
            </ul>
        </div>
        <class class="container">
            <!--Add task FAB-->
            <div class="fixed-action-btn">
                <a class="btn-floating teal waves-effect hoverable btn-large"
                   th:classappend="${#lists.isEmpty(tasks)&&setPulse==true?'pulse':''}"
                   href="/add-task">
                    <i class="large material-icons">add</i>
                </a>
            </div>
    </div>

</main>
<div th:insert="~{fragments/styles-and-scripts::#scripts}"></div>

</body>
</html>