<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Restart task</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--FontAwesomeIcons CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/body-backgrounds.css">
    <link rel="icon" href="/img/favicon.ico" type="img/ico">
</head>
<body class="blackboard-texture-bg">
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="/" class="ml-20px">
                <i class="material-icons left">arrow_back</i>
            </a>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l8 xl8 offset-m1 offset-l2 offset-xl2">
                <div class="card rnd-c-10 mt">
                    <div class="card-content">
                        <div class="row">
                            <form action="/retry" th:object="${taskDTO}" method="post">
                                <h5 class="black-text subheader center"
                                >Restart task</h5>
                                <input th:field="*{id}" hidden>
                                <input th:field="*{description}" hidden>
                                <div class="chip white-text right"
                                     th:classappend="${priorityBadgeColor}" th:text="${priority}">
                                    High priority
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                    <textarea disabled id="textarea1"
                                              th:field="*{description}"
                                              class="materialize-textarea"></textarea>
                                        <label for="textarea1">Task description</label>
                                        <span class="helper-text red-text"></span>
                                    </div>
                                </div>
                                <div class="col s6 m6 l5 xl4">
                                    <div class="input-field ">
                                        <input type="text" th:field="*{deadline}" class="datepicker"
                                               placeholder="New deadline date">
                                        <span class="helper-text red-text" th:errors="*{deadline}"></span>
                                    </div>
                                </div>
                                <div class="col s6 m6 l5 xl4">
                                    <div class="input-field ">
                                        <input type="text" class="timepicker" placeholder="Notify me via SMS at:"
                                               th:if="${notificationsEnabled}" th:field="*{notificationTime}">
                                        <span class="helper-text red-text" th:errors="*{notificationTime}"></span>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col s12">
                                        <button class="btn waves-effect hoverable teal rnd-c waves-light col s4
                                         m4 l3 xl3 right mt-20px"
                                                type="submit">Submit
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Materialize JS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/scripts.js">
</script>
</body>
</html>