<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Settings</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="img/ico">
    <link rel="stylesheet" href="/css/body-backgrounds.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/body-backgrounds.css">

</head>
<body class="blackboard-texture-bg">
<header>
    <div th:insert="~{fragments/mobile-navbar::#mobile-navbar}"></div>
    <!--Side nav-->
    <div th:insert="~{fragments/mobile-sidenav::#mobile-demo}"></div>
</header>
<main>
    <div class="row">
        <div class="col m3 hide-on-med-and-down">
            <div th:insert="~{fragments/main-sidenav::#main-sidenav}"></div>
        </div>
        <div class="col s12 l8">
            <div class="col s12 m6 " th:if="${hasPassword}">
                <div class="card medium">
                    <div class="card-content">
                        <form id="updatePassword" action="/update-password"
                              th:object="${accountDTO}" method="post">
                            <h4>Change password</h4>
                            <div class="input-field ">
                                <input type="password"
                                       th:field="*{password}" id="password">
                                <label for="password">New passsword</label>
                                <span th:errors="*{password}" class="helper-text red-text"></span>
                                <span th:text="${passwordAttr}" class="helper-text green-text"></span>
                            </div>
                            <div class="input-field ">
                                <input type="password"
                                       th:field="*{confirmPassword}" id="newPassword">
                                <label for="newPassword">Confirm password</label>
                                <span th:errors="*{confirmPassword}" class="helper-text red-text"></span>

                            </div>
                            <input type="submit" id="updPassw" hidden>
                        </form>
                    </div>
                    <div class="card-action">
                        <label for="updPassw" class="waves-effect waves-light btn">save
                        </label>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 ">
                <div class="card medium">
                    <div class="card-content">
                        <form action="/update-phone" id="updatePhone" th:object="${accountDTO}"
                      method="post">
                    <h4 th:text="${hasPhone?'Change phone number':'Add phone number'}">Change phone number</h4>
                    <div class="input-field">
                        <input type="tel" th:field="*{phoneNumber}" id="phone" name="phone">
                        <label for="phone">Phone number</label>
                        <span th:errors="*{phoneNumber}" class="helper-text red-text"></span>
                        <span th:text="${phoneAttr}" class="helper-text green-text"></span>
                    </div>
                            <input type="submit" id="updPhone" hidden>
                </form>
                    </div>
                    <div class="card-action">
                        <!--                        <button type="submit" formaction="updatePhone" class="waves-effect waves-light btn">Save-->
                        <!--                        </button>-->
                        <label for="updPhone" tabindex="0" class="waves-effect waves-light btn">Save
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Materialize JS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- <script src="/js/scripts.js"></script> -->
<script src="/js/scripts.js"></script>
</body>
</html>