<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>You can do it!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/body-backgrounds.css">
    <link rel="icon" href="/img/favicon.ico" type="img/ico">


</head>
<body class="blackboard-texture-bg">
<header>
    <div th:insert="~{fragments/mobile-navbar::#mobile-navbar}"></div>
    <!--Side nav-->
    <div th:insert="~{fragments/mobile-sidenav::#mobile-demo}"></div>
</header>
<main>
    <!-- Main -->

    <div class="row">
        <div class="col m3 l4 xl3 hide-on-med-and-down">
            <div th:insert="~{fragments/main-sidenav::#main-sidenav}"></div>
        </div>
        <!--        <div class="col s8 m8 l4 offset-s2 offset-m2 white-text mt-5vh"-->
        <!--             th:if="${stat!=null}">-->
        <!--            <h5 th:text="${stat!=null}?'Total task: '+${stat.notActiveTasksCount}"></h5>-->
        <!--            <hr>-->
        <!--            <h5 th:text="${stat!=null}?'Tasks done: '+${stat.doneTasksCount}"></h5>-->
        <!--            <hr>-->
        <!--            <h5 th:text="${stat!=null}?'Total failed: '+${stat.expiredTasksCount}"></h5>-->
        <!--            <hr>-->
        <!--            <h5 th:text="${stat!=null}?'Notifications received: '+${stat.notificationsCount}"></h5>-->
        <!--            <hr>-->
        <!--        </div>-->
        <div class="col s10 m8 l4 offset-s1 offset-m2 mt-5vh">
            <div th:if="${stat!=null}" class="card-panel">
                <h4>Statistic:</h4>
                <table>
                    <tbody>
                    <tr>
                        <td>Total tasks count:</td>
                        <td class="bold-txt" th:text="${stat.notActiveTasksCount+stat.activeTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>Tasks done:</td>
                        <td class="bold-txt" th:text="${stat.doneTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>Tasks failed:</td>
                        <td class="bold-txt" th:text="${stat.expiredTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>High priority tasks:</td>
                        <td class="bold-txt" th:text="${stat.highPriorityTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>Medium priority tasks:</td>
                        <td class="bold-txt" th:text="${stat.mediumPriorityTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>Low priority tasks:</td>
                        <td class="bold-txt" th:text="${stat.lowPriorityTasksCount}"></td>
                    </tr>
                    <tr>
                        <td>Notifications received:</td>
                        <td class="bold-txt" th:text="${stat.notificationsCount}"></td>
                    </tr>
                    <tr>
                        <td>Achievements unlocked:</td>
                        <td class="bold-txt" th:text="${stat.achievementsUnlocked}+'/'+10"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h5 class="bold-txt white-text mt-5vh" th:if="${stat==null}" th:text="${message}"></h5>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>